<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Seja Bem-Vindo ao OPENCAR</h1>

        <div>

            {% if not request.user %}
                <a href="{% url 'loginpage' %}">Login</a>
                <a href="{% url 'register_user' %}">Cadastre-se</a>
            {% else %}
                <p>{{ request.user }}</p>
            {% endif %}
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>